<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef sortActionDescription="Sort by number"><b>Name</b></th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="isEdit(element)">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Clearable input</mat-label>
                    <input matInput type="text" [(ngModel)]="editedElement!.name">
                    <button *ngIf="editedElement!.name" matSuffix mat-icon-button aria-label="Clear"
                        (click)="editedElement!.name=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div *ngIf="!isEdit(element)">
                {{element.name}}
            </div>
        </td>
    </ng-container>

    <!-- foodType Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef><b>Preis</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.price}}</td>
    </ng-container>

    <!-- category Column -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef><b>Anzahl</b> </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="isEdit(element)">
                <mat-form-field class="example-form-field" appearance="fill">
                    <input matInput type="number" [(ngModel)]="editedElement!.quantity">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Typ</mat-label>
                    <mat-select name="packingUnit">
                        <mat-option *ngFor="let packingUnit of packingUnitValues" [value]="packingUnit">
                            {{ 'ingredient.packingUnit.' + packingUnit | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="!isEdit(element)">
                {{element.quantity}} {{ 'ingredient.packingUnit.' + getPackingUnit(element.packingUnit) | translate }}
            </div>
    </ng-container>

    <!-- allergenes Column -->
    <ng-container matColumnDef="allergens">
        <th mat-header-cell *matHeaderCellDef><b>Einheit</b> </th>
        <td mat-cell *matCellDef="let element">

        </td>
    </ng-container>

    <!-- symbol Column -->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="isEdit(element)">
                <button mat-mini-fab (click)="acceptChanges()">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-mini-fab (click)="declineChanges()">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
            <div *ngIf="!isEdit(element)">
                <button mat-mini-fab (click)="setEditedElement(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>

<button mat-fab color="primary" (click)="addIngredient()">
    <mat-icon>add</mat-icon>
</button>